<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>co.roksys.petesbrain.reminder-api</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/administrator/Documents/PetesBrain/reminder-api.py</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/administrator/.petesbrain-reminder-api.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/administrator/.petesbrain-reminder-api-error.log</string>
	<key>StartInterval</key>
	<integer>0</integer>
</dict>
</plist>
