<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PETESBRAIN_ROOT</key>
		<string>/Users/administrator/Documents/PetesBrain.nosync</string>
		<key>ANTHROPIC_API_KEY</key>
		<string>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</string>
	</dict>
	<key>Label</key>
	<string>com.petesbrain.google-specs-monitor</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>export KEYCHAIN_ENABLED=1 &amp;&amp; /Users/administrator/Documents/PetesBrain.nosync/venv/bin/python3 /Users/administrator/Documents/PetesBrain.nosync/agents/google-specs-monitor/google-specs-monitor.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/administrator/.petesbrain-google-specs-monitor-error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/administrator/.petesbrain-google-specs-monitor.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/administrator/Documents/PetesBrain.nosync</string>
</dict>
</plist>
