<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ANTHROPIC_API_KEY</key>
		<string>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</string>
	</dict>
	<key>Label</key>
	<string>com.petesbrain.facebook-specs-monitor</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/administrator/Documents/PetesBrain/agents/facebook-specs-monitor/.venv/bin/python3</string>
		<string>/Users/administrator/Documents/PetesBrain/agents/facebook-specs-monitor/facebook-specs-monitor.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/administrator/.petesbrain-facebook-specs-monitor-error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/administrator/.petesbrain-facebook-specs-monitor.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/administrator/Documents/PetesBrain</string>
</dict>
</plist>
