<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.petesbrain.nda-enrolments</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/administrator/Documents/PetesBrain/clients/national-design-academy/scripts/enrolment-file-manager.py</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>GMAIL_USER</key>
        <string>petere@roksys.co.uk</string>
        <key>GMAIL_APP_PASSWORD</key>
        <string>pxmsoxiwuazkqhvg</string>
    </dict>

    <key>StartInterval</key>
    <integer>21600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/administrator/.petesbrain-nda-enrolments.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/administrator/.petesbrain-nda-enrolments.log</string>
</dict>
</plist>
